.profile {
  align-items: center;
  padding-top: 50px;
}
.pfp {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  border-radius: 5px;
}
.profile-tint {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.401);
  display: none;
  justify-content: center;
  align-items: center;
}
.profile-tint i {
  cursor: pointer;
  color: black;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  padding: 6px 12px;
}
#profile-image-upload {
  display: none;
}
.profile-image:hover .profile-tint {
  display: flex;
  cursor: pointer;
}
.info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.username {
  font-size: 40px;
}
.full-name {
  font-size: 20px;
}
.counters {
  display: flex;
  margin-top: 20px;
}
.counters p {
  margin: 0 20px 0 0;
  font-size: 20px;
}
.title-posts {
  margin-top: 50px;
  font-size: 50px;
}
.posts {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.post {
  border: 1px rgb(214, 214, 214) solid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 500px;
  margin: 10px 15px 10px 0;
  cursor: pointer;
}
.tint {
  background-color: rgba(0, 0, 0, 0.326);
  height: 100%;
  width: 100%;
  display: none;
}
.post:hover .tint {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tint i {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1313px) {
  .pfp img {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 778px) {
  .post {
    width: 100%;
  }
  .pfp {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .pfp div {
    height: 150px;
    margin: auto 0;
  }
  .info {
    width: 100%;
    text-align: center;
  }
  .counters p {
    margin: 0 auto;
  }
}
