/* Header */
.header {
  background-color: white;
  border-bottom: 1px rgb(200, 200, 200) solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header img {
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.icons a i {
  color: black;
}
.active i {
  border-bottom: 2px black solid;
}

/* Search */
.search {
  border: 1px gray solid;
  padding: 0 5px;
  border-radius: 3px;
}
.search input {
  border: none;
  padding: 5px;
}
.search i {
  color: gray;
}
.search input:focus {
  transform: scale(1);
}

/* Toolbar */
.tool-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px rgb(200, 200, 200) solid;
  justify-content: center;
  padding: 10px;
  display: none;
}
.tool-bar .icons i {
  font-size: 30px;
  margin: 0 20px;
}

/* Phone */
@media screen and (max-width: 699px) {
  .header form,
  .header .icons {
    display: none;
  }
  .tool-bar {
    display: flex;
  }
}
